.slider__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 770px) {
  .slider__item {
    display: block;
  }
}
.slider__item .slider__item-image {
  width: 49%;
}
@media (max-width: 770px) {
  .slider__item .slider__item-image {
    width: 100%;
  }
}
.slider__item .slider__item-image img {
  display: block;
  width: 100%;
}
.slider__item .slider__item-discription {
  width: 50%;
  background-color: #5C3249;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1024px) {
  .slider__item .slider__item-discription {
    padding-top: 60px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
@media (max-width: 920px) {
  .slider__item .slider__item-discription {
    padding-top: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 770px) {
  .slider__item .slider__item-discription {
    width: 100%;
    padding: 20px 15px 95px;
  }
}
.slider__item .slider__item-discription .slider__discription__quote {
  text-transform: capitalize;
  width: 470px;
  color: #FFFFFF;
  font-family: "Cardo", sans-serif;
  font-size: 36px;
  font-weight: 400;
  font-style: italic;
  line-height: 49px;
  margin-bottom: 18px;
}
@media (max-width: 1024px) {
  .slider__item .slider__item-discription .slider__discription__quote {
    width: 330px;
    font-size: 24px;
    line-height: 32px;
  }
}
@media (max-width: 770px) {
  .slider__item .slider__item-discription .slider__discription__quote {
    text-align: center;
  }
}
.slider__item .slider__item-discription .slider__discription__autor {
  width: 470px;
  text-transform: uppercase;
  color: #FFFFFF;
  font-family: "Raleway", sans-serif;
  font-size: 13px;
  font-weight: 700;
}
@media (max-width: 1024px) {
  .slider__item .slider__item-discription .slider__discription__autor {
    width: 330px;
    font-size: 12px;
  }
}
@media (max-width: 770px) {
  .slider__item .slider__item-discription .slider__discription__autor {
    text-align: center;
  }
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slick-list {
  overflow: hidden;
}

.slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider .slick-dots li {
  margin: 22px 12.5px 0;
}

.slider .slick-dots button {
  font-size: 0;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 1px solid #7E5D6F;
}

.slider .slick-dots li.slick-active button {
  background-color: #7E5D6F;
}