.features {
  padding: 116px 0;
}
@media (max-width: 1024px) {
  .features {
    padding: 80px 0;
  }
}
.features .features__wrapper #features__row1 {
  margin-bottom: 88px;
}
@media (max-width: 1024px) {
  .features .features__wrapper #features__row1 {
    margin-bottom: 50px;
  }
}
@media (max-width: 500px) {
  .features .features__wrapper #features__row1 {
    margin-bottom: 0;
  }
}
.features .features__wrapper .features__wrapper__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -15px;
}
@media (max-width: 500px) {
  .features .features__wrapper .features__wrapper__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: -21px -15px;
  }
}
.features .features__wrapper .features__wrapper__row .features__column-cell {
  width: 370px;
  margin: 0 15px;
}
@media (max-width: 1024px) {
  .features .features__wrapper .features__wrapper__row .features__column-cell {
    width: 315px;
  }
}
@media (max-width: 500px) {
  .features .features__wrapper .features__wrapper__row .features__column-cell {
    margin: 21px 15px;
  }
}
.features .features__wrapper .features__wrapper__row .features__column-cell .features__column-image {
  overflow: hidden;
  height: 100px;
  width: 100px;
  margin: 0 auto 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1024px) {
  .features .features__wrapper .features__wrapper__row .features__column-cell .features__column-image {
    height: 85px;
    width: 85px;
    margin: 0 auto 25px;
  }
  .features .features__wrapper .features__wrapper__row .features__column-cell .features__column-image img {
    width: 85px;
    height: 85px;
  }
}
.features .features__wrapper .features__wrapper__row .features__column-cell .features__column-title {
  text-transform: uppercase;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 72px;
  color: #2D3033;
  margin-bottom: 20px;
}
@media (max-width: 1024px) {
  .features .features__wrapper .features__wrapper__row .features__column-cell .features__column-title {
    font-size: 18px;
    line-height: 60px;
    margin-bottom: 4px;
  }
}
@media (max-width: 675px) {
  .features .features__wrapper .features__wrapper__row .features__column-cell .features__column-title {
    line-height: normal;
    height: 50px;
  }
}
.features .features__wrapper .features__wrapper__row .features__column-cell .features__column-discription {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #6C7279;
}
@media (max-width: 1024px) {
  .features .features__wrapper .features__wrapper__row .features__column-cell .features__column-discription {
    font-size: 14px;
  }
}