@import url("/css/header.css");
@import url("/css/features.css");
@import url("/css/work.css");
@import url("/css/team.css");
@import url("/css/download.css");
@import url("/css/footer.css");
@import url("/css/slider.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css");
html {
  font-family: "Raleway", "Cardo", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.container {
  max-width: 1170px;
  margin: auto;
  padding: 0 15px;
}