.work__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2px 1fr 2px 1fr 2px 1fr;
  grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 1fr 2px 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 2px;
}.work__grid > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}.work__grid > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}.work__grid > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}.work__grid > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
}.work__grid > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}.work__grid > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}.work__grid > *:nth-child(7) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}.work__grid > *:nth-child(8) {
  -ms-grid-row: 3;
  -ms-grid-column: 7;
}
@media (max-width: 500px) {
  .work__grid {
    -ms-grid-columns: 1fr 2px 1fr;
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: 1fr 2px 1fr 2px 1fr 2px 1fr;
    grid-template-rows: repeat(4, 1fr);
  }
  .work__grid > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .work__grid > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .work__grid > *:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .work__grid > *:nth-child(4) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
  .work__grid > *:nth-child(5) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
  .work__grid > *:nth-child(6) {
    -ms-grid-row: 5;
    -ms-grid-column: 3;
  }
  .work__grid > *:nth-child(7) {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
  }
  .work__grid > *:nth-child(8) {
    -ms-grid-row: 7;
    -ms-grid-column: 3;
  }
}
.work__grid .work__grid-cell {
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.work__grid .work__grid-cell a {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}
.work__grid .work__grid-cell a .work__cell-discription {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 67, 67, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
}
.work__grid .work__grid-cell a .work__cell-discription h3 {
  text-transform: uppercase;
  margin: 0 auto 13px;
  font-family: "Raleway", sans-serif;
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 900;
  line-height: 40px;
}
@media (max-width: 1024px) {
  .work__grid .work__grid-cell a .work__cell-discription h3 {
    font-size: 18px;
  }
}
.work__grid .work__grid-cell a .work__cell-discription p {
  text-transform: capitalize;
  text-align: center;
  font-family: "Raleway", sans-serif;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 400;
}
@media (max-width: 1024px) {
  .work__grid .work__grid-cell a .work__cell-discription p {
    font-size: 14px;
  }
}
.work__grid .work__grid-cell a .work__cell-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}
.work__grid .work__grid-cell a .work__cell-image img {
  width: 103%;
  height: 103%;
}
.work__grid .work__grid-cell a:hover .work__cell-discription {
  opacity: 1;
}
.work__grid .work__grid-cell .work__cell-discription:active {
  background-color: rgba(185, 12, 12, 0.8);
  -webkit-transition: none;
  transition: none;
}