.footer {
    background-color: #353C65;
    .footer__wrapper {
        padding: 71px 0;
        margin: 0 -15px;
        display: flex;
        justify-content: space-between;
        @media (max-width: 1024px) {
            padding: 45px 0;
        }
        @media (max-width: 700px) {
            display: block;
            padding: 34px 0;          
        }
        .footer__wrapper-location {
            width: 370px;
            margin: 0 15px;
            @media (max-width: 700px) {
                margin: 0 auto 69px;    
                width: 280px;     
            }
            h3 {
                color: #FFFFFF;
                font-family: 'Raleway', sans-serif;
                font-size: 18px;
                font-weight: 700;
                text-transform: uppercase;
                text-align: center;
                margin-bottom: 28px;
                @media (max-width: 1024px) {
                    font-size: 14px;
                }
                @media (max-width: 700px) {
                    margin-bottom: 34px;   
                }
            }
            p {
                color: #FFFFFF;
                font-family: 'Raleway', sans-serif;
                font-size: 18px;
                font-weight: 400;
                text-align: center;
                @media (max-width: 1024px) {
                    font-size: 14px;
                }
            }

        }
        .footer__wrapper-social {
            width: 370px;
            margin: 0 15px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            @media (max-width: 700px) {
                margin: 0 auto 60px;   
                width: 280px;     
            }
            h3 {
                color: #FFFFFF;
                font-family: 'Raleway', sans-serif;
                font-size: 18px;
                font-weight: 700;
                text-transform: uppercase;
                text-align: center;
                @media (max-width: 1024px) {
                    font-size: 14px;           
                }
                @media (max-width: 700px) {
                    margin-bottom: 34px;    
                }
            }
            ul {
                display: flex;
                justify-content: center;
                li {
                    margin: 0 13px;
                    a {
                        display: flex;
                        width: 39px;
                        height: 39px;
                        border: 1px solid #C6CBCD;
                        justify-content: center;
                        align-items: center;
                        color: #C6CBCD;
                        font-size: 20px;
                        @media (max-width: 1024px) {
                            width: 33px;
                            height: 33px;
                            font-size: 17px;
                        }
                    }
                }
            }

        }
        .footer__wrapper-about {
            width: 370px;
            margin: 0 15px;
            @media (max-width: 700px) {
                margin: auto;    
                width: 280px;     
            }
            h3 {
                color: #FFFFFF;
                font-family: 'Raleway', sans-serif;
                font-size: 18px;
                font-weight: 700;
                text-transform: uppercase;
                text-align: center;
                margin-bottom: 28px;
                @media (max-width: 1024px) {
                    font-size: 14px;
                }
            }
            p {
                text-transform: capitalize;
                color: #FFFFFF;
                font-family: 'Raleway', sans-serif;
                font-size: 18px;
                font-weight: 400;
                text-align: center;
                @media (max-width: 1024px) {
                    font-size: 14px;
                }
            }

        }
    }
}
.copyright {
    padding: 24px 0;
    background-color: #2C3154;
    @media (max-width: 1024px) {
        padding: 14px 0;
    }
    p {
        text-transform: capitalize;
        width: 370px;
        margin: auto;
        color: #808080;
        font-family: 'Raleway', sans-serif;
        font-size: 18px;
        font-weight: 400;
        text-align: center;
        @media (max-width: 1024px) {
            width: 314px;
            font-size: 14px;
        }
        @media (max-width: 700px) {
            margin: auto;    
            width: 280px;     
        }
        span {
            color: #FFFFFF;
        }
    }
}